[ req ]
default_bits       = 2048
default_md         = sha256
prompt             = no
distinguished_name = dn
x509_extensions    = v3_req

[ dn ]
C  = BR
ST = SP
L  = SaoPaulo
O  = Dev
OU = Dev
CN = producer.com

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = producer.com
DNS.2 = www.producer.com
DNS.3 = localhost
